*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #D9CEC5;
}
#container{
    max-width:980px;
    margin:20px auto;
    padding:20px;
    background-color: #FFFFFF;
    /*border:2px solid black;*/
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.card{
    flex: 1 0 200px;
    margin: 10px;
}
.card-image{
    display:block;
    height:350px;
    background-size:cover;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    /*border:2px solid black;*/
}
.card-image.card-1{
    background-image:url(images/volkan-vardar-EsMw381lunE-unsplash.jpg);
}
.card-image.card-2{
    background-image:url(images/jeffrey-valenzuela-OL4j0kejZPk-unsplash.jpg);
}
.card-image.card-3{
    background-image:url(images/julieta-julieta-bwwOu1GOXnk-unsplash.jpg);
}
.card-image.card-4{
    background-image:url(images/patrick-burtchaell-8BU__0wzK58-unsplash.jpg);
}
.card-image.card-5{
    background-image:url(images/sidney-pearce-rco9Z8raWFM-unsplash.jpg);
}
.card-image.card-6{
    background-image:url(images/heron-rossato-h_rossato-jC-uELLpy1w-unsplash.jpg);
}